/* @import '../componets/footer.css'; */

.container-header,
.container-footer {
  width: 100%;
  height: 96px;
  padding: 32px 0 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
  background-color: var(--backgroudColor);
  cursor: pointer;
}

.container-footer {
  height: auto;
  /* position: absolute;
  bottom: 0; */
}

.footer-title {
  display: block;
  text-align: center;
  width: 269px;
}

.title-footer {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}
 
.title-footer span {
  display: block;
  margin-top: 20px;
}